<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 footer-contact">
        <h3>Divine Diagnostics</h3>
        <p>
          K.J. sanyal Road <br />
          Gour Road More <br />
          Malda 732103 <br /><br />
          <strong>Phone:</strong> 9474049331 / 03512-355115<br />
          <strong>Email:</strong> divinemalda@gmail.com<br />
        </p>
      </div>

      <div class="col-lg-2 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="#">Contact us</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="#">Digital X-Ray</a>
          </li>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="#">E.C.G</a>
          </li>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="#">Multi-specialty O.P.D</a>
          </li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Pathology</a></li>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="#">Ultrasonography</a>
          </li>
        </ul>
      </div>

      <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div> -->
    </div>
  </div>
</div>

<div class="container d-md-flex py-4">
  <div class="m-md-auto text-center text-md-center">
    <div class="copyright">
      &copy; Copyright
      <strong><span>Divine Diagnostics Pvt Ltd</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</div>
