@media screen and (max-width: 650px) {
  .logo img {
    display: none;
  }
}

#hero {
  margin-top: 5%;
}

.main-block {
  margin-top: 120px;
}

.services .icon-box h4 {
  color: #2c4964;
}

.services .icon-box p {
  color: #444;
}

#credits {
  margin-top: 5px;
}

#map {
  border: 0;
  width: 100%;
  height: 350px;
}
